<div class="row mt-5">

  <div class="col-lg-6">
    <div class="container">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="product.title" #title="ngModel" name="title" id="title" type="text" class="form-control" required>
        </div>
        <div *ngIf="title.touched && title.invalid">
          <div *ngIf="title?.errors?.required" class="alert alert-danger">Title is required</div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">₹</span>
            <input [(ngModel)]="product.price" #price="ngModel" name="price" id="price" type="number" class="form-control" required [min]="0">
          </div>
        </div>
        <div *ngIf="price.touched && price.invalid">
          <div *ngIf="price?.errors?.required" class="alert alert-danger">Price is required</div>
          <div *ngIf="price?.errors?.min" class="alert alert-danger">Price should be greater than or equal to 0</div>
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select [(ngModel)]="product.category" #category="ngModel" name="category" id="category" class="form-control" required>
            <option value=""></option>
            <option *ngFor="let c of categories$" [value]="c.payload.key">{{c.payload.val().name}}</option>
          </select>
        </div>
        <div *ngIf="category.touched && category.invalid">
          <div *ngIf="category?.errors?.required" class="alert alert-danger">category is required</div>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image Url</label>
          <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control"
            required url>
        </div>
        <div *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl?.errors?.required" class="alert alert-danger">imageUrl is required</div>
          <div *ngIf="imageUrl?.errors?.url" class="alert alert-danger">Invalid Url</div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
      </form>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="container">
        <div class="card " style="width: 20rem;">
            <img class="card-img-top" [src]="product.imageUrl">
            <div class="card-body">
              <h4 class="card-title">{{product.title}}</h4>
              <p class="card-text">{{product.price | currency:'INR':'symbol'}}</p>
  
            </div>
          </div>
    </div>
  </div>
