<div class="row">
  <div class="col-lg-3 mt-3">
    <div class="container sticky-top">
      <products-filter [category]="category"></products-filter>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div class="row container">
        <div *ngFor="let p of filteredProducts" class="card-deck col-lg-4 mt-3">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" [src]="p.imageUrl">
            <div class="card-body">
              
            </div>
            <div class="card-footer">
                <h4 class="card-title">{{p.title}}</h4>
                <p class="card-text">{{p.price | currency:'INR':'symbol'}}</p>
              <button class="btn btn-primary btn-block" *ngIf="getQuantity(p.key)===0; else updateQuantity" (click)="addToCart(p)">Add to Cart</button>
              <ng-template #updateQuantity>
                <div class="row no-gutters border">
                  <div class="col-2 btn-block"><button type="button" (click)="removeFromCart(p)" class="btn btn-danger">-</button></div>
                  <div class="col text-center">{{getQuantity(p.key)}} items in cart</div>
                  <div class="col-2 btn-block"><button type="button" (click)="addToCart(p)" class="btn btn-success">+</button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
